.my-slider-progress {
    background: #ccc;
    margin-top: 0.5rem;
}
  
.my-slider-progress-bar {
    background: rgb(185 28 28 / var(--tw-bg-opacity, 1));
    height: 4px;
    transition: width 400ms ease;
    width: 0;
 }


